<div class="card">
    <h2>{{name}}</h2>
<ul>
{{#each abilities}}
<li>{{this.ability.name}}</li>
{{/each}}
</ul>
<img src={{sprites.front_default}}>
<p>Moves:</p>
<ul>
    {{#each moves}}
    <li>{{this.move.name}}</li>
    {{/each}}
</ul>
</div>