body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

.card {
  min-width: 150px;
  height: 319px;
  padding: 25px;
  border: 1px solid green;
  border-radius: 15px;
  overflow: hidden;
}

.card + .card {
  margin-left: 80px;
}
